@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color:black;
  color:#f2f2f2;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Here is the beginning of the navbar css edits */

.top{
  width: 100%;
  height: 50px;
  background-color: grey;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;

  font-size: 18px;
  font-weight: 300;
  
}

.topLeft{
  flex: 3;
}

.topCenter{
  flex: 25;
}

.LogoImg{
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.topList{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem{
  margin-right: 20px;
  cursor: pointer;
}

.topRight{
  display: flex;
  list-style: none;
  
  align-items: center;
}

.topRightItem{
  cursor: pointer;
}

.topSearchIcon{
  margin: 10px;
  cursor: pointer;
}

/* Here is the ending of the Navbar css edits */